<div class="homehome home_1">
	<div class="home_cont1"> 
		<div class="homepage-main1">
			<p>Welcome to Learnocracy.</p>
			<!--<p>
				There are currently <%= @total %> users signed up!
			</p>-->
			<p>
				A place to teach and learn anything and everything.
			</p>
			<p>
				<%= link_to "Sign up now!", signup_path %>
			</p>
		</div>
	</div>
</div>
<div class="homehome home_2">
	<div class="home_cont2"> 
		<div class="homepage-main2">
			<p>
				How does it work?
			</p>
			<p>
				There are 2 main uses for this site. Learning and Teaching.
			</p>
			<p>
				Those who want to learn will have access to a vast selection of courses and entire curriculums in all fields.
			</p>
			<p>
				Courses will consist of material, in either readable or viewable form, and exams, that will test your knowledge, allowing you to follow the progress you're making.
			</p>
			<p>
				The curriculums are entire programs built as sets of courses. Requirements between courses will be made, which will allow the student to follow a clear path. A prerequisite tree will be available for all programs, where you will be able to see which classes oyu have passed, which ones you can take, and which ones are too complicated for the moment. Once all are completed, the user should have acquired the knowledge equivalent to that of a degree.
			</p>
			<p>
				Finally, these programs will have been created by both teachers and regular people.
			</p>
		</div>
	</div>
</div>
<div class="homehome home_3">
	<div class="home_cont3"> 
		<div class="homepage-main3">
			<p>
				For those of you who want to create the material or programs, this is how it works.
			</p>
			<p>
				Those who create courses will be able to create notes as PDFs, PPTs or youtube videos, all three of which will be embed within the site. Then, you will have the possibility to create quizzes or exams, at which point you will set the minimum grade required to pass and set up the questions and answers (only as multiple choice for now). At any point in time, the students will be allowed to take the tests and try to pass the exam. Once all tests passed, they will pass the course.
			</p>
			<p>
				To create a program, you don't have to have created any course. You will gather a set of courses deemed appropriate for your program, and then set the prerequisites among them. The set of prerequisites will automatically create a prerequisite tree, which will allow the user to follow an obvious path for progress.
			</p>
		</div>
	</div>
</div>