<% provide(:title, "Home Page") %>
<div class="homepage-list">
	<% @categories.each do |cat| %>
	<%= link_to category_path(cat) do %>
		<div class="course-list">
			<div class="category-image">
				<img src="data:<%= cat.imagetype %>;base64,<%= cat.image.to_s %>" />
			</div>
			<%= cat.title %> 
		</div>
		<% end %>
	<% end %>
</div>