<% if signed_in? %>
	<%= render 'user_home' %>
<% else %>
	<div class="homepage-main">
		<p>Welcome to Learnocracy.</p>
		<p>
			There are currently <%= @total %> users signed up!
		</p>
		<p>
			<%= link_to "Sign up now!", signup_path %>
		</p>
	</div>
<% end %>