<% if signed_in? %>
	<%= render 'user_home' %>
<% else %>
	<div class="homepage-main">
		<div>
			Welcome to Learnocracy.
		</div>
		<div>
			Sign up by clicking sign in, then "Sign up now".
		</div>
	</div>
<% end %>