<% if signed_in? %>
	<%= render 'user_home' %>
<% else %>
	<div>
		Welcome to Learnocracy. The place where anyone can create or follow a course or program.
	</div>
	<div>
		Once you sign up, you will be free to browse threw any course or program. 
	</div>
<% end %>