<% if signed_in? %>
	<%= render 'user_home' %>
<% else %>
	<div class="homepage-main">
		<div>
			Welcome to Learnocracy.
		</div>
		<div>
			The place where anyone can create or follow a course or program.
		</div>
		<div>
			Once you sign up, you will be free to browse thru any course or program. 
		</div>
	</div>
<% end %>