<% if !note.filename.nil? %>
<li>
	<span class="content">
		<%= link_to note.filename, download_note_path(note) %>
	</span>
	<span id="delete-btn">
	<% if creator? %>
		<%= link_to "delete", note, method: :delete, 
									data: { confirm: "You sure?" },
									title: note.filename %>
	<% end %>
	</span>
</li>
<% end %>