<% provide(:title, "Database") %>

<span id="userdb">
<ul class="user-list">
	<li>
		<span class="users">NAME</span>
		<span class="users">EMAIL</span>
		<span class="users">ADMIN</span>
	</li>
	<% @users.each do |user| %>
	<li>
		<span class="users"><%= user.name %></span>
		<span class="users"><%= user.email %></span>
		<span class="users"><%= user.admin %></span>
	</li>
	<% end %>
</ul>
</span>