<% provide(:title, "Search Results") %>
<span class="search-page">
	<div id="result">
		<div>
			<span>Name</span>
			<span>Email</span>
		</div>
		<div>
			<span class="name-search"></span>
			<span class="email-search"></span>
		</div>
	</div>
</span>