<%= form_for(current_user.registrations.build(takenprog_id: @program.id)) do |f| %>
  <div><%= f.hidden_field :takenprog_id %></div>
  <% if params[:controller] == "courses" %>
    <%= f.submit "Register to program", :class => "reg-btn reg-btn-add" %>
  <% else %>
  	<%= f.submit "Register", :class => "reg-btn reg-btn-add" %>
  <% end %>
<% end %>