<% provide(:title, @user.name) %>
<div>
	<%= @user.name %>, <%=@user.email %>
</div>
<div class="myclasses">
	<%= link_to "My Creations", creations_path %>
</div>
<div class="user-btn">
	<%= link_to "Create Class", newcourse_path %>
</div>
