<%= form_for(current_user.carts.build(coursefollow_id: @course.id)) do |f| %>
  <div><%= f.hidden_field :coursefollow_id %></div>
  <%= f.submit "Add to Cart", class: "cart-btn add-cart-btn" %>
<% end %>