<% provide(:title, "My Classes") %>

<ul class="course-list">
	<li>
		<h1>My Created Courses</h1>
	</li>
	<% @courses.each do |course| %>
	<li>
		<span><%= link_to course.title, course_path(course) %></span>
		<span><%= link_to "Edit", edit_course_path(course) %></span>
	</li>
	<% end %>
</ul>
<div id="creation-btn">
<div class="user-btn profile-btn">
	<%= link_to "Create Class", newcourse_path %>
</div>
<div class="myclasses profile-btn">
	<%= link_to "My Creations", creations_path %>
</div>
</div>