#debug{
	color: black;
	margin-left: 130px;
}

.subcon{
	position: absolute;
	background: white;
	border: 1px black solid;
	cursor: pointer;
	cursor: hand;
	margin-top: 5px;
	margin-left: 5px;
}

.course_form div{
	vertical-align: text-top;
	display: inline;
	.subcon{
		display: block;
	}
}

.course-show{
}

#course-title{
	margin-left: 55px;
}

.edit-btn{
	margin-left: 890px;
	margin-top: -52px;
}

.myclasses{
	margin-left: 881px;
	margin-top: 26px;
}

.user-btn{
	margin-left: 887px;
	margin-top: -9px;
}

.profile-btn a:hover{
	-o-transition: .2s;
  	-ms-transition: .2s;
  	-moz-transition: .2s;
  	-webkit-transition: .2s;
  	transition: .2s;
	background: #b82000;
}

.profile-btn a{
	padding: 10px;
	background: #D83018;
	text-decoration: none;
	color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.course-list{
	list-style-type: none;
	margin-bottom: 5px;
	font-size: 1.2em;
	a{
		color: black;
		text-decoration: none;
	}
}

.course-list a:hover{
	color: #555;
	cursor: pointer;
	cursor: hand;
}

#course_description{
	width: 500px;
	height: 200px;
	vertical-align: top;
}

.notes{
	position: absolute;
	margin-top: 40px;
	margin-left: -15px;

}

.subcon:hover{
	background: #ccc;
	-o-transition: .2s;
  	-ms-transition: .2s;
  	-moz-transition: .2s;
  	-webkit-transition: .2s;
  	transition: .2s;
}

.subcon:active{
	-o-transition: 0s;
  	-ms-transition: 0s;
  	-moz-transition: 0s;
  	-webkit-transition: 0s;
  	transition: 0s;
	background: #aaa;
}

.timestamp{
	font-size: 0.6em;
}

#userdb{
	position: relative;
	margin: auto;
	margin-top: 70px;
	width: 950px;
	li{
		list-style-type: none;
		border-bottom: #ccc 1px solid;
		margin-left: -40px;
	}
}

#mainpic img{
	width: 400px;
	height: 300px;
}

.search-menu{
	background: white;
	border: 1px #ccc solid;
	position: absolute;
	top: 45px;
	left: 779px;
	margin-top: 0px;
	margin-left: 0px;
	border-top: none;
	padding: 10px;
	font-size: 0.8em;
	}

#res{
	border-top: 1px solid #ccc;
	padding-top: 7px;
	font-size: 0.8em;
}

#result{
	margin-top: 40px;
	margin-left: 150px;
	border: 1px #ccc solid;
	width: 700px;
	height: 60px;
	display: inline-block;
	div span{
		width: 340px;
		display: inline-block;
		text-align: center

	}
}

.debug_dump {
clear: both;
float: left;
width: 100%; 
margin-top: 45px;
}

#search-page{
	position: absolute;
	margin-top: 70px;
}

.user-list{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px #ccc solid;
	border-bottom: none;
	font-size: 0.8em;
}

.users{
	text-align: center;
	height: 40px;
	width: 150px;
	display: inline-block;
	vertical-align: text-top;
}

#body-container{
	height: 400px;
	margin-top: 50px;
	font-family: "open sans";
	left: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#body-signin{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -19;
}

img.background{
	z-index: -40;
	width: 100%;
	left:0;
	position: fixed;
	top: 0;
}

.selected{
	display: block;
	color: rgba(0,0,0,1);
}

.nav-right{
	font-size: 0.9em;
	float: right;
	margin-right: 130px;
	z-index: 100;
	margin-top: 7px;
	li {
		list-style-type: none;
		margin-right: 10px;
		z-index: 100;
	}
}

.nav-right > li{
	display: inline;
	z-index: 100;
	list-style-type: none;
	a {
		text-decoration: none;
	}
}

.nav-right > li > a {
	color: #eee;
	padding: 9px 10px 9px 10px;
}

.red{
	position: relative;
	margin-left: -10px;
	padding-left: 10px;
	border-top: 1px #ccc solid;
}

.dropdown-menu{
	background: white;
	color: #444;
	z-index: 40;
	font-size: 0.8em;
	border: #ccc 1px solid;
	border-top: none;
	width: 63px;
	position: absolute;
	top: 45px;
	right: 140px;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 0px;
	margin-left: 60px;
	li{
		a{
			text-decoration: none;
			font-size: 0.9em;
		}
		list-style-type: none;
		margin-bottom: 7px;
	}
}

#signin-btn {
	.btn-primary{
		background: white;
		border: 1px solid #ccc;
	}
	:hover{
		background: #ccc;
		cursor: pointer;
		cursor: hand;
	}
	float: right;
	margin-top: 4px;
}

#email-box{
	margin-left: 22px;
}

.navbar {
	font-family: "open sans";
	height: 35px;
	color: #eee;
	width: 100%;
	position: absolute;
	height: 35px;
	top: 0;
	left: 0;
	padding-top: 10px;
	background: #304860;
	z-index: 1;
}

#contact{
	margin-left: 130px;
}

#navbar-logo {
	font-size: 1em;
	margin-left: 130px;
	position: relative;
	top: 4px;
	a {
		padding: 9px 10px 9px 10px;
		text-decoration: none;
		color: #eee;
	}
	:hover{
		background-color: rgba(255, 255, 255, 0.5);
		color: #555;
		z-index: 31;
		-o-transition: .5s;
	  	-ms-transition: .5s;
	  	-moz-transition: .5s;
	  	-webkit-transition: .5s;
	  	transition: .5s;
	  	a {
	  		color: #555;
	  		text-decoration: none;
	  	}
	}
}

#signin{
	z-index: 100;
	font-size: 0.8em;
	position: relative;
	float: right;
	margin-right: 130px;
	padding: 10px 10px 9px 10px;
	top: -2px;
}

#signin-menu{
	position: relative;
	float: right;
	right: -60px;
	top: 35px;
	z-index: 40;
	padding: 10px 20px 10px 20px;
	border: solid #ccc 1px;
	border-top: none;
	font-size: 0.7em;
	color: black;
	background: white;
}

#signin:hover{
	cursor: pointer;
	cursor: hand;
}

.navhov > a {
	color: #eee;
	text-decoration: none;

}

.navhov:hover{
	background-color: rgba(255, 255, 255, 0.5);
	color: #555;
	z-index: 31;
	-o-transition: .5s;
  	-ms-transition: .5s;
  	-moz-transition: .5s;
  	-webkit-transition: .5s;
  	transition: .5s;
  	a {
  		background-color: rgba(255, 255, 255, 0.5);
  		color: #555;
  		text-decoration: none;
  	}
}

.navhov-list > li{
	margin-left: 0px;
}

.navhov-list > li > a:hover{
	background-color: rgba(255, 255, 255, 0.5);
	color: #555;
	z-index: 31;
	-o-transition: .5s;
  	-ms-transition: .5s;
  	-moz-transition: .5s;
  	-webkit-transition: .5s;
  	transition: .5s;
}

#new_user{
	font-size: 0.9em;
}

#signup_menu{
	width: 312px;
	display: block;
	margin: 50px auto 0 auto;
	input{
		width: 300px;
		margin-bottom: 20px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: solid 1px #ccc;
		padding: 5px;
	}
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		float: left;
		margin: 0 0 18px 0;
	}
}

.btn-confirm{
	background: #0cc;
	margin-left: 6px;
}

.selected-btn{
	background-color: rgba(255, 255, 255, 0.5);
	color: #555;
	li {
		color: #555;
	}
}

.selected-btn-list{
	color: #555;
	a {
		background-color: rgba(255, 255, 255, 0.5);
		color: #555;
	}
	li{
		color: #555;
	}
}

#footer{
	font-family: "open sans";
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	border-top: solid #bbb 1px;
	padding: 10px 0 70px 0;
	background: #bbb;
	color: white;
	z-index: 30;
}