<div id="footer-top">
	<div id="footer">
		<div id="footer-cont">
			<div id="footer-about">
				<div>
					<a href="#">How It Works</a>
				</div>
				<div>
					<a href="#">About</a>
				</div>
				<div>
					<a href="#">Contact Us</a>
				</div>
				<!--div id="debug"><%= debug(params) if Rails.env.development? %></div-->
			</div>
			<div id="footer-social">
				<div>
					<a href="#">Google+</a>
				</div>
				<div>
					<a href="#">Facebook</a>
				</div>
				<div>
					<a href="#">Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>