<div class="navbar">
	<span id="navbar-logo">
		<%= link_to "Learnocracy", root_path %>
	</span>
	<span>
		<span id="signin">
			Sign In
		</span>
		<span id="signin-menu">
			<div class="span6 offset3">
			</div>
		</span>
	</span>
</div>